@font-face {
    font-family: 'barioRegular';
    src: url('https://zurielatr.github.io/fonts/Bariol_Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'barioBold';
    src: url('https://zurielatr.github.io/fonts/Bariol_Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'free';
    src: url('https://zurielatr.github.io/fonts/FREESCPT.woff') format('woff');
    font-weight: normal;
}
